# Gradle
.gradle/
build/

# Android
*.apk
*.idsig
*.aab
*.jks
*.keystore
keystore.properties
*.dex
*.class
local.properties
app/build/

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr
captures/
.externalNativeBuild/
.cxx/

# Hermes agent
.agents/

# OS
.DS_Store
Thumbs.db
stubs/
